<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Merriweather:wght@300&display=swap" rel="stylesheet">


<div class="row gy-4">
  <div class="col-12">
    <h3>Welcome {{userData.first_name}} to Paw Fit, your pets care is in good hands</h3>
    <div class="new-pet">
        <button class="new-pet-btn btn btn-success mt-3">Add Pet</button>
    </div>
  </div>

  <div class="col-12">
    <form class="pet-form">
      <label for="pname">Pet name:</label><br>
      <input type="text" id="pname" name="pname"><br>

      <label for="type">Pet Type:</label><br>
      <select id="type" name="type">
        <option value="">Please select an animal type</option>
        <option value="Dog">Dog</option>
        <option value="Cat">Cat</option>
      </select><br>

      <label for="type">Pet Age:</label><br>
      <input type="number" id="age" name="age"><br>

      <label for="gender">Gender:</label><br>
      <select id="gender" name="gender">
        <option value="">Select gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select><br>

      <label for="color">Color:</label><br>
      <input type="text" id="color" name="color"><br>

      <label for="weight">Weight:</label><br>
      <input type="number" id="weight" name="weight"><br>

      <label for="breed">Breed:</label><br>
      <input type="text" id="breed" name="breed"><br>
      <input type="submit" value="Submit">

    </form>
  </div>

  <div class="col-12">
    <h2>Pet Snapshot</h2>
    <div class="row">
    {{#each userData.Animals as |animal|}}
      <div class="card col-4 m-4 border border-3 rounded-5 border border-success">
        <div class="card-body">
          <h5 class="card-title">
            {{animal.pet_name}}
          </h5>
          <p>
            Type : {{animal.animal_type}}
          </p>
          <p>
            Gender : {{animal.pet_gender}}
          </p>
          <p>
            Age : {{animal.pet_age}} years old
          </p>
          <p>
            Color : {{animal.pet_color}}
          </p>
          <p>
            Weight : {{animal.pet_weight}} lbs
          </p>
          <p>
            Breed : {{animal.pet_breed}}
          </p>
          <button data-id="{{animal.id}}" class="remove-animal-btn btn btn-danger">Remove Animal</button>
          <button data-animal="{{toJsonString animal}}" class="btn btn-danger update-animals-btn">Update Animal</button>
        </div>
      </div>
    {{/each}}

    </div>

  </div>

</div>









<script src="/js/dashboard.js"></script>