<h2>
  Hello
  {{first_name}}, welcome to {{animal.pet_name}}'s profile, here you will find health, diet, activity, and record information for your pet.
</h2>


{{!-- Need to add animal, diet, health --}}

{{!-- <div>
  {{#each userData.Animals as |animal|}}
  <div>
    Name: {{animal.pet_name}}<br>
    Type: {{animal.animal_type}}<br>
    Gender: {{animal.pet_gender}}<br>
    Age: {{animal.pet_age}}<br>
    Color: {{animal.pet_color}}<br>
    Weight: {{animal.pet_weight}}<br>
    Breed: {{animal.pet_breed}}<br>
    <br>
  </div>
{{/each}}
</div> --}}