<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h2>
  Hello
  {{first_name}}, welcome to your pets profile, here you will find health, diet, activity, and record information for your pet.
</h2>


{{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button> --}}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button>


{{!-- HEALTH Modal --}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="health-form mb-3">
          <label for="health" class="col-form-label">List all vaccinations</label><br>
            <input type="text" class="form-control" id="health" name="health"><br>

            <label for="neuter" class="col-form-label">Neuter,Spay or Neither</label><br>
            <select type id="neuter" class="form-control" name="neuter"><br>
              <option value="">Please select from options</option>
              <option value="Neutered">Neutered</option>
              <option value="Spayed">Spayed</option>
              <option value="Neither">Neither</option>
            </select><br>

            <label for="disease" class="col-form-label">List any illness or disease</label><br>
            <input type="text" class="form-control" id="disease" name="disease"><br>

            {{!-- <label for="amount" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="amount"> --}}
          </div>
          <div class="mb-3">
            {{!-- <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea> --}}
          </div>

                <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Submit">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
        </form>
      </div>
      {{!-- <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Submit">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div> --}}
    </div>
  </div>
</div>



{{!-- DIET Modal --}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="diet-form mb-3">

            <label for="disease" class="col-form-label">List any illness or disease</label><br>
            <input type="text" class="form-control" id="disease" name="disease"><br>

            <label for="amount" class="col-form-label" >Cups of food consumed per day </label><br>
            <input type="number" class="form-control" step="0.5" min="0" id="amount" name="amount"><br>

            <label for="favorite" class="col-form-label" >Favorite foods </label><br>
            <input type="text" class="form-control" id="favorite" name="favorite"><br>

            <label for="allergies" class="col-form-label" >List any food allergies </label><br>
            <input type="text" class="form-control" id="allergies" name="allergies"><br>

            {{!-- <label for="amount" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="amount"> --}}
          </div>
          <div class="mb-3">
            {{!-- <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea> --}}
          </div>

                <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Submit">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
        </form>
      </div>
      {{!-- <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Submit">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div> --}}
    </div>
  </div>
</div>








{{!-- Diet Form --}}
{{!-- <form class="diet-form">
  <label for="amount">Cups of food consumed per day </label><br>
  <input type="number" step="0.5" min="0" id="amount" name="amount"><br>

  <label for="favorite">Favorite foods </label><br>
  <input type="text" id="favorite" name="favorite"><br>

  <label for="allergies">List any food allergies </label><br>
  <input type="text" id="allergies" name="allergies"><br>

  <input type="submit" value="Submit">

</form> --}}

{{!-- Health Form --}}
{{!-- <form class="health-form">
  <label for="health">List all vaccinations</label><br>
  <input type="text" id="health" name="health"><br>

  <label for="neuter">Neuter,Spay or Neither</label><br>
  <select type id="neuter" name="neuter"><br>
    <option value="">Please select from options</option>
    <option value="Neutered">Neutered</option>
    <option value="Spayed">Spayed</option>
    <option value="Neither">Neither</option>
  </select><br>

  <label for="disease">List any illness or disease</label><br>
  <input type="text" id="disease" name="disease"><br>

  <input type="submit" value="Submit"> --}}
{{!-- </form> --}}

{{!-- Activity Form --}}
<form class="activity-form">
  <label for="active">Average minutes activity per day</label><br>
  <input type="number" id="active" name="active"><br>

    <label for="sleep">Average hours sleep per day</label><br>
  <input type="number" id="sleep" name="sleep"><br>

  <label for="toy">Favorite toy </label><br>
  <input type="text" id="toy" name="toy"><br>

  <input type="submit" value="Submit">

</form>

<div>
  {{#each Animals as |animal|}}
  <div class="card mb-4">

    {{!-- Tab Nav --}}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active btn btn-outline-dark" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-{{animal.id}}" type="button" role="tab" aria-controls="general" aria-selected="true">General</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link btn btn-outline-dark" id="health-tab" data-bs-toggle="tab" data-bs-target="#health-{{animal.id}}" type="button" role="tab" aria-controls="health" aria-selected="false">Health</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link btn btn-outline-dark" id="diet-tab" data-bs-toggle="tab" data-bs-target="#diet-{{animal.id}}" type="button" role="tab" aria-controls="diet" aria-selected="false">Diet</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link btn btn-outline-dark" id="activity-tab" data-bs-toggle="tab" data-bs-target="#activity-{{animal.id}}" type="button" role="tab" aria-controls="activity" aria-selected="false">Activity</button>
      </li>
    </ul>
    
    <div class="tab-content" id="myTabContent">
      {{!-- General Tab --}}
      <div class="tab-pane fade show active" id="general-{{animal.id}}" role="tabpanel" aria-labelledby="general-tab">
          {{animal.pet_name}}<br>
          {{animal.animal_type}}<br>
          {{animal.pet_gender}}<br>
          {{animal.pet_age}}<br>
          {{animal.pet_color}}<br>
          {{animal.pet_weight}}<br>
          {{animal.pet_breed}}<br>
          <br>
      </div>
      {{!-- Health Tab --}}
      <div class="tab-pane fade show" id="health-{{animal.id}}" role="tabpanel" aria-labelledby="health-tab">
        <button  data-id="{{animal.id}}" type="button" class=" new-health-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add Health Record</button>
        {{!-- <button data-id="{{animal.id}}" class="new-health-btn btn btn-primary">Add Health Record</button> --}}

        {{#each animal.Health as |health|}}
          <div>
            vaccination: {{health.health_vaccination}}<br>
            Neuter: {{health.health_neuter}}<br>
            Disease: {{health.health_diseases}}<br>
            <br>
          </div>
        {{/each}}
      </div>

      {{!-- Diet Tab --}}
      <div class="tab-pane fade show" id="diet-{{animal.id}}" role="tabpanel" aria-labelledby="diet-tab">
        
        <button type="button"  data-id="{{animal.id}}" class="new-diet-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Add Diet record</button>
        {{!-- <button data-id="{{animal.id}}" class="new-diet-btn btn btn-primary">Add Diet record</button> --}}

        {{#each animal.Diets as |diet|}}
        {{!-- add bootstrap class for card --}}
          <div >
            Amount of Food: {{diet.food_amount}}<br>
            Favorite Food: {{diet.food_favorite}}<br>
            Allergies: {{diet.food_allergies}}<br>
            <br>
          </div>
        {{/each}}
      </div>

      {{!-- Activity Tab --}}
       <div class="tab-pane fade show" id="activity-{{animal.id}}" role="tabpanel" aria-labelledby="activity-tab">
        <button data-id="{{animal.id}}" class="new-activity-btn btn btn-primary">Add activity record</button>

        {{#each animal.Activities as |activity|}}
          <div>
            Activity: {{activity.active_minutes_day}}<br>
            Toy: {{activity.favorite_toy}}<br>
            Sleep: {{activity.avg_sleep_day}}<br>
            <br>
          </div>
        {{/each}}
      </div>

    </div>
  </div>
  {{/each}}
</div>


<script src="/js/profile.js"></script>
<script src="/js/profileDiet.js"></script>
<script src="/js/profileActivity.js"></script>


